*{
    margin: 0px;
    font-family: "Montserrat", sans-serif;;
}

#navbar {
    background-color: #02A28F;
    color: #FFFFFF;
    padding: 16px 156px;
}



#container {
    display: grid;
    grid-template-columns: repeat(2,1fr);

}



.section-title {
    background-color: #02A28F;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    align-items: center;
    border-radius: 10px;
    margin: 0px 9px;
}

#title-post-recent {
    font-size: 20px;
    font-weight: 700;
}

#text-post-recent {
    font-weight: 500;
    font-size: 14px;
   text-decoration: underline;
}


.posts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.post-item {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
}



.sub-title-grid {
    color: #02A28F;
    font-weight: 400;
    font-size: 14px;
    margin: 8px 0px;
}


.title-post-pop {
    background-color: #02A28F;
    color: #FFFFFF;
    border-radius: 10px;
    margin-top: 10px;
    padding: 16px 24px;
    margin-right: 100px;
}

.title-grid {
    font-weight: 700;
    font-size: 20px;
    margin: 8px 0px;
    color: #000000;
}



.text-grid{
    font-weight: 400;
    font-size: 14px;
}

.data-grid{
    color: #616161;
    font-weight: 500;
    font-size: 14px;
    margin-top: 5px;
}

.flex {
    display: flex;
    margin-top: 10px;
    font-weight: 700;
    font-size: 14px;
    
}

.flex2 {
    
    margin-left: 10px;
    
}



.title-category { 
    background-color: #02A28F;
    color: #FFFFFF;
    border-radius: 10px;
    margin-top: 10px;
    padding: 16px 24px;
    margin-right: 100px;
}

#categories-list {
    color: #616161;
    list-style: none;
    margin: 5px 0px;
}





.footer {
    background-color: #02A28F;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
    padding: 16px 0px ;
    font-weight: 600;

}



@media only screen and (min-width: 768px) and (max-width:1023px) {}

@media only screen and (min-width: 768px) and (max-width:1023px) {}

@media only screen and (max-width: 767px) {



    header {
    width: 100%;
}

#navbar {
    background-color: #02A28F;
    color: #FFFFFF;
   text-align: center;
   padding: 16px 0px;
   font-weight: 700;
   font-size: 24px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}

.section-title {
    background-color: #02A28F;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    align-items: center;
    border-radius: 10px;
    margin: 0px 4px;
}

#title-post-recent {
    font-size: 20px;
    font-weight: 700;
}

#main-post-overlay > img {
    width: 100%;
}



.posts-grid {
   display: grid;
   grid-template-columns: 1fr;
 
   align-items: center;
   justify-content: center;
}

.post-item {
    align-items: center;

}

#post-item > img {
    width: 100%;
    display: flex;
    align-items: center;
}





.title-post-pop {
    background-color: #02A28F;
    color: #FFFFFF;
    border-radius: 10px;
  
    margin: 10px 10px ;
    padding: 16px 24px;
    
}

.flex {
    display: flex;
    
    margin: 10px 10px ;
    font-weight: 700;
    font-size: 14px;
    
}



.title-category { 
    background-color: #02A28F;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 10px 10px ;
    padding: 16px 24px;
    
}



.footer {
    width: 100%;
}


}

